body{
    background: linear-gradient(to top left, #ff7d82, #ed1c24);
}
.container{
background-color:aquamarine;

}
.container2{
    background-color:cornflowerblue;
    text-align: center;
    
}
.container2 a{
    text-decoration: none;
    color:cornsilk;
}
#mynet{
    width: 95%;
    height: 800px;
}
#kur{
    width: 100%;
    height: 200px;
}
#fanatik{
    width: 95%;
    height: 800px;
}
#sozcu{
    width: 95%;
    height: 800px;
}
#cumhuriyet{
    width: 95%;
    height: 800px;
}
#diken{
    width: 95%;
    height: 800px;
}
#aydınlık{
    width: 95%;
    height: 800px;
}
.footer{
   
    color: black;
    text-align: center;
    
}

